bin/
target/
.idea/
.mymetadata
.project
.classpath
.DS_Store
.springBeans
.settings/
**/*.iml
*.iml
src/test/curl/.orchCurl_*
src/test/curl/.Curl_tmp
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
**/*.ami


bash.exe.stackdump
sh.exe.stackdump
dump.rdb